---
---

body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue";
  width: 100%;
}

header {
  width: 100%;
}

#home h1 {
  font-weight: bold;
  font-size: 400%;

  small {
    margin-top: -15px;
    display: block;
    font-weight: normal;
    font-size: 40%;
    opacity: 0.6;
  }
}

#home {
  text-align: center;
}

#home__board {
}

#home__copy {
}

.home__board {
  img {
    width: 18em;
    opacity: 0.6;
  }
  
  padding: 10px;
}

.home__download_button {
  text-align: center;

  img {
    width: 300px;
  }

  padding-bottom: 3em;
}

.home__tagline {
  margin-bottom: 0px;

  font-weight: bold;
}

#video_preview {
  text-align: center;
}

#mailing_list {
  background-color: #660080;
  height: 20em;
  width: 100%;
  color: white;
  text-align: center;

  h2 {
    font-size: 3em;
    padding: 1em;
  }

  input[type=text], input[type=email] {
    font-size: 2em;
    padding: 0.5em;
    min-width: 50%;
  }
  
  button[type=submit] {
    font-size: 2em;
    padding: 0.5em;
    margin: 0px;
  }
}

.dialog_modal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.dialog_modal:target {
        opacity:1;
        pointer-events: auto;
}

.dialog_modal > div {
        position: relative;
        margin: 10% auto;
        padding: 5px;
        background: #fff;
        width: auto;
        text-align: center;
        width: 80%;
}

.dialog_modal video {
  width: 100%;
}

.close_dialog_footer {
  text-align: right;
}

a.close:hover {
  text-decoration: none;
}

.close {
        background: #fff;
        color: #000;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

hr.fancy-line { 
    border: 0; 
    height: 1px;

}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

body, hr.fancy-line:after {
    background: #f4f4f4;
}
